.dropdown-menu {
    background-color: rgb(87 81 172 / 87%);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 57%);
}

.dropdown-item {
    font-weight: 500;
    color: #ffffff;
}

.dropdown-toggle::after {
    display: none;
}
.item-bounder {
    margin: 15px 2.5px;
    padding: 10px;
    font-size: 0.9rem;
    font-family: 'Roboto Condensed', sans-serif;
    background: #0a0a0a00 url(https://shopreroll.com/style/genshi/img/bg-acc-of-list.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: rgb(141 97 64);
    transition: .3s;
}
.btn_left{
    width: 40%;
    margin-left: -8px;
    margin-bottom: 5px;
    border-top-left-radius: 0.2rem !important;
    border-bottom-left-radius: 0.2rem !important;
    background-color: #8a6232;
    border-color: #805828;
    color: #e7e7e7;
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 82%);
}